<div xmlns:th="http://www.thymeleaf.org">
  <header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">
          <span class="d-inline-block me-1">
            <em class="fas fa-book-reader fa-fw"></em>
          </span>
          OpenFeign-Example
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
          </ul>
        </div>
      </div>
    </nav>
  </header>
</div>
